<!-- <div class=".bgimg">
    <form action="register.component.css" class="container"> -->
<div class="submit-cutom-button">
    <div class="bg-image"></div>
    <form #regiterForm="ngForm" (ngSubmit)="registerUser(regiterForm)">
        <p style="color:rgb(42, 158, 42);font-size:30px;font-weight: bolder;">Register</p>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" id="staticEmail" class="name" value="user2" name="firstName" [(ngModel)]="user.firstName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" id="staticEmail" class="name" value="user2" name="name" [(ngModel)]="user.lastName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="staticEmail" id="inputPassword" name="password"
                    [(ngModel)]="user.password" value="user2">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" class="staticEmail" id="inputPassword" name="confirmpassword"
                    [(ngModel)]="user.confirmpassword" value="user2">
            </div>
        </div>
        <!-- loction -->
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="location" type="text" id="staticEmail" class="staticEmail" value="user2"
                    [(ngModel)]="user.email">
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input name="location" type="text" id="staticEmail" class="staticEmail" value="user2"
                        [(ngModel)]="user.phone">
                </div>

        </div>
        <button type="submit" class="Register">Register</button>
</div>


<!-- name?:string;
password?:string;
ConfirmPassword?:string;
location?:string;
IsRegular?:boolean; -->