<h1 style ="font: Playfair Display;">Search Flights</h1>
<div class="add-product-layout">
    <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
    Flight Details
    </mat-panel-title>
    <mat-panel-description>
    Enter Flight Name and .............
    <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="add-product-form">
    <mat-form-field appearance="fill">
    <mat-label>Start Time</mat-label>
    <input matInput [(ngModel)]="search.trip_Date" hidden>
    <br/>
    <input type="date" [(ngModel)]="search.trip_Date"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>From Place</mat-label>
    <input matInput [(ngModel)]="search.from_place">
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>To Place</mat-label>
    <input matInput [(ngModel)]="search.destination">
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
    <mat-label>Airline Name</mat-label>
    <input matInput [(ngModel)]="products.airline">
    </mat-form-field> -->
    
    <button mat-raised-button color="primary" (click)="searchInventory()">Search Inventory</button>
    
    
    </div>
    </mat-expansion-panel>
    </div>
    
    
    
    
    
    <div class="Airline-card-layout">
    <mat-card class="example-card" *ngFor="let inventories of products">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{inventories.flightNumber}}</mat-card-title>
    
    </mat-card-header>
    
    
    
    <mat-card-content>
    <p>AirLine Name: {{inventories.airLine_Name}}</p>
    <p> From Place: {{inventories.from_Place}}</p>
    <p> To Place: {{inventories.destination}}</p>
    <p> Business Class: {{inventories.buisness_Class_Seats}} </p>
    <p> Total Non BusinessClass: {{inventories.non_Business_class_Capacity}}</p>

    <!-- <p>
    airline: {{inventories.airline}}</p>
    <p> FromPlace: {{inventories..fromPlace}}
    </p>
    <p> startdatetime: {{inventories.startdatetime}}
    
    </p>
    <p> enddatetime: {{inventories.enddatetime}} -->
    
    <!---</p>
    <p> TotalBusinessClass: {{inventories.totalBusinessClass}}
    
    </p>
    <p> TotalNonBusinessClass: {{inventories.totalNonBusinessClass}}
    
    </p>
    <p> TicketCost: {{inventories.ticketCost}}
    
    </p>
    <p> MealType: {{inventories.mealType}} -->
    
    <!-- </p> -->
     <button mat-raised-button color="primary" (click)="bookflights(inventories.flightId)">Book flight</button> 
    
    </mat-card-content>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    


   

    <!-- airlineID?: number;
    flightId?: number;
    flightNumber?: string;
    airLine_Name? : string;
    from_Place?: string;
    destination?: string;
    start_date?: Date;
    end_Date?: Date;
    startTime?: Date;
    instrument?: string;
    buisness_Class_Seats?:  number;
    non_Business_class_Capacity?: number;
    totalCost?: number;
    rows_count?: number;
    meal_preference?: string; -->


    <!-- trip_Date!: Date;
    from_place!: string;
    destination!: string; -->

