h1{
    color: red;
}

.header-layout
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
h1{
    color: black;
}
.lazy-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}