<!-- <h1>Search Flights
    <hr>
    <input name="place" type ="text" [(ngModel)] =flight.from_place>
    <input name="destination" type ="text" [(ngModel)] = flight.destination>
    <input name="startdate" type ="text" [(ngModel)] = flight.start_date>
    <button (click)="searchFlight()">Search</button>
</h1> --> 

<input type="button" onclick="getSearchresults()" />



<!----New Code--->
<!-- <div class=".bgimg">
    <form action="register.component.css" class="container"> -->
<!-- <div class="submit-cutom-button"> -->



    <!-- new code
    <form #regiterForm="ngForm" (ngSubmit)="searchFlight()">
         <style> body {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRWE9wy426-Myx9XC0F8LrzAoa6Qla6v12_g&usqp=CAU");
              }</style> -->
        <!-- <p style="color:rgb(182, 133, 228);font-size:20px;">Register</p>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" id="staticEmail" class="name" value="user2" name="firstName"
                    [(ngModel)]="flight.from_place">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" id="staticEmail" class="name" value="user2" name="name"
                    [(ngModel)]="flight.destination">
            </div>
        </div> -->


        <!-- loction -->
        <!-- <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="location" type="text" id="staticEmail" class="location" value="user2"
                    [(ngModel)]="flight.trip_Date">
            </div>
        </div>

        <button type="submit" class="Register">Register</button> --> 



<!--  name?:string;
        password?:string;
        ConfirmPassword?:string;
        location?:string;
        IsRegular?:boolean; -->